# HOMESTEAD, YARN AND NPM FILE
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/node_modules

# DOT FILES
.exe
.DS_Store
.env
.env.backup
.phpunit.result.cache

# Rapyd
/app/Rapyd/Modules/*

# Generally Ignored App Files
/public/images
/public/ISSUED_BOND_FORMS
/public/ISSUED_OVERLAYS
/public/storage
/vendor
/Tinker
/resources

# Public assets
public/user/avatar/
