#page_settings_site {
  .btn-save {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 14px;
    border-bottom-left-radius: 4px;
  }

  .img-fluid {
    max-height: 100px;
    margin-top: 20px;
  }
}