#page_usergroups_profile {
  #credit_card_wrapper i.payment {
    position: absolute !important;
    right: 9% !important;
    top: 51% !important;
    width: 35px !important;
  }
  input:disabled:not([type="submit"]),
  textarea:disabled,
  select:disabled {
    background: #fff !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
  }
  select:disabled.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .edit_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-group.view {
    display: flex;
    align-items: flex-start !important;
  }

  .form-group.view label {
    white-space: nowrap;
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 5px !important;
  }

  .form-group.view label::after {
    content: ":";
  }

  .tab_wrapper .content_wrapper .tab_content {
    padding: 15px 0;
  }

  // Agency Tab
  #agency_agents_wrapper {
    & .card.current-agents-container {
      & .card-body {
        display: flex;
        flex-wrap: wrap;

        & .agent-content {
          width: 23%;
          min-height: 50px;
          margin: 0 1%;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;
          border: 1px solid rgba(#333, 0.1);
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
          overflow: hidden;

          &.own-user {
            justify-content: center;
            padding-top: 0;
          }

          @include breakpoint($bp-w-768) {
            width: 48%;
          }

          @include breakpoint($bp-w-560) {
            width: 98%;
          }

          & .btn {
            border-radius: unset;
            -webkit-border-radius: unset;
            -moz-border-radius: unset;
            -ms-border-radius: unset;
            -o-border-radius: unset;
            font-weight: bold;
          }
        }
      }
    }
  }

  // Mobile
  @include breakpoint($bp_w_1080) {
    & #modal-shareable-widget {
      z-index: 9999;
      &.modal-full .form-group {
        width: 98vw;
        height: 90vh;
        margin: 10px auto;

        & .content_area.row {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          background: white;

          & .col-sm-4 {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
          }
          & .col-sm-8 {
            flex: 0 0 100%;
            max-width: 100%;

            & h2 {
              font-size: 24px;
              text-align: center;
            }

            & p {
              font-size: 16px;
            }
          }
        }
      }
    }

    & #btn-shareable-widget {
      margin-bottom: 20px;
    }
    & #col-left {
      flex: 0 0 100%;
      max-width: 100%;
    }
    & #col-right {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
