// Widths
$bp_w_1920: max-width 1920px;
$bp_w_1440: max-width 1440px;
$bp_w_1366: max-width 1366px;
$bp_w_1280: max-width 1280px;
$bp_w_1080: max-width 1080px;
$bp-w-768: max-width 768px;
$bp-w-560: max-width 560px;

// Height
$bp_h_900: max-height 900px;
$bp_h_800: max-height 800px;
$bp_h_650: max-height 650px;
